body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cesta {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cesta-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cerrar {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.producto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.imagen-container {
    position: relative;
    background-color: #0033a0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.imagen-container img {
    max-width: 100%;
    height: auto;
}

.eliminar {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 10px;
}

.info {
    padding-left: 20px;
    flex: 2;
}

h2 {
    font-size: 24px;
    margin: 0;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

.precio-cantidad {
    display: flex;
    justify-content: space-between;
}

.precio, .cantidad {
    font-size: 20px;
}

.comprar {
    background-color: #ffd100;
    border: none;
    color: #000;
    font-weight: bold;
    font-size: 24px;
    padding: 20px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
}

.comprar:hover {
    background-color: #ffcc00;
}
