.cesta {
    width: 400px;
    margin: auto;
    padding: 20px;

    .micesta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h1 {
            font-size: 1.8rem;
        }

        .cerrar {
            background: none;
            border: none;
            font-size: 2rem;
            cursor: pointer;
        }
    }

    .producto {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;

        .imagen {
            background-color: #27509B;;
            padding: 20px;
            border-radius: 10px;

            img {
                max-width: 100px;
            }
        }

        .detalles {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-size: 1.5rem;
                margin: 0 0 10px;
            }

            p {
                font-size: 1rem;
                color: #333;
                margin-bottom: 10px;
            }

            .precio {
                display: flex;
                justify-content: space-between;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
    }

    .comprar {
        background-color: #FCE500;
        color: #000;
        font-size: 1.5rem;
        font-style: italic;
        font-weight: bold;
        padding: 15px;
        border: none;
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media (max-width: 2560px) {
    .cesta {
        width: 800px;
    }
    .cesta h1 {
        font-size: 2rem;
    }
    .cesta h2 {
        font-size: 1.7rem;
    }
    .cesta p {
        font-size: 1.2rem;
    }
    .cesta .precio {
        font-size: 1.4rem;
    }
    .cesta .comprar {
        font-size: 1.7rem;
    }
}

@media (max-width: 1920px) {
    .cesta {
        width: 700px;
    }
    .cesta h1 {
        font-size: 1.9rem;
    }
    .cesta h2 {
        font-size: 1.6rem;
    }
    .cesta p {
        font-size: 1.1rem;
    }
    .cesta .precio {
        font-size: 1.3rem;
    }
    .cesta .comprar {
        font-size: 1.6rem;
    }
}

@media (max-width: 1536px) {
    .cesta {
        width: 600px;
    }
    .cesta h1 {
        font-size: 1.8rem;
    }
    .cesta h2 {
        font-size: 1.5rem;
    }
    .cesta p {
        font-size: 1rem;
    }
    .cesta .precio {
        font-size: 1.2rem;
    }
    .cesta .comprar {
        font-size: 1.5rem;
    }
}

@media (max-width: 1280px) {
    .cesta {
        width: 500px;
    }
    .cesta h1 {
        font-size: 1.7rem;
    }
    .cesta h2 {
        font-size: 1.4rem;
    }
    .cesta p {
        font-size: 0.9rem;
    }
    .cesta .precio {
        font-size: 1.1rem;
    }
    .cesta .comprar {
        font-size: 1.4rem;
    }
}

@media (max-width: 1024px) {
    .cesta {
        width: 400px;
    }
    .cesta h1 {
        font-size: 1.6rem;
    }
    .cesta h2 {
        font-size: 1.3rem;
    }
    .cesta p {
        font-size: 0.8rem;
    }
    .cesta .precio {
        font-size: 1rem;
    }
    .cesta .comprar {
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    .cesta {
        width: 300px;
    }
    .cesta h1 {
        font-size: 1.5rem;
    }
    .cesta h2 {
        font-size: 1.2rem;
    }
    .cesta p {
        font-size: 0.7rem;
    }
    .cesta .precio {
        font-size: 0.9rem;
    }
    .cesta .comprar {
        font-size: 1.2rem;
    }
}

@media (max-width: 414px) {
    .cesta {
        width: 93%;
    }
    .cesta h1 {
        font-size: 1.4rem;
    }
    .cesta h2 {
        font-size: 1.1rem;
    }
    .cesta p {
        font-size: 0.6rem;
    }
    .cesta .precio {
        font-size: 0.8rem;
    }
    .cesta .comprar {
        font-size: 1.1rem;
    }
}

@media (max-width: 360px) {
    .cesta {
        width: 93%;
    }
    .cesta h1 {
        font-size: 1.3rem;
    }
    .cesta h2 {
        font-size: 1rem;
    }
    .cesta p {
        font-size: 0.5rem;
    }
    .cesta .precio {
        font-size: 0.7rem;
    }
    .cesta .comprar {
        font-size: 1rem;
    }
}