$color-primario: #27509B;
$color-secundario: #FCE500;
$color-fondo: #fff;
$fuente-titulo: "Noto Sans", sans-serif;

h1 {
    font-size: 2.5rem;
    font-family: $fuente-titulo;
    font-weight: bolder;
    justify-self: center;
    margin-bottom: 2rem;
    font-style: italic;
}

.productos {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3%;

    .producto {
        background-color: $color-primario;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        border-radius: 10px;
        color: #fff;
        width: 250px;

        h2 {
            font-size: 1.5rem;
            font-style: italic;
            margin-bottom: 1rem;
        }

        img {
            max-width: 100%;
            height: 200px; 
            object-fit: cover; //imagen se ajuste y se vea completa
            border-radius: 5px;
        }

        button {
            background-color: $color-secundario;
            color: #000;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 0.75rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 1rem;

            .carrito {
                margin: 0.5rem;
            }

            &:hover {
                background-color: $color-secundario;
            }
        }
    }
}

// Media queries
@media (max-width: 2560px) {
 
    .productos {
        justify-items: center;
        display: grid;
        row-gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1920px) {
    .productos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1536px) {
    .productos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1280px) {
    .productos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1024px) {
    .productos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    h1{
        text-align: center;
    }
    .productos {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 414px) {
    .productos {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 360px) {
    .productos {
        grid-template-columns: repeat(1, 1fr);
    }
}