.carousel {
    position: relative;
    overflow: hidden;

    .carousel-container {
        display: flex;
        margin: 0;
        width: 100%;
        transition: transform 0.5s ease-in-out;
    }

    picture {
        flex: 0 0 100%;
        margin: 0;
        padding: 0;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .carousel-indicators {
        position: absolute;
        bottom: 10px; // Ubica los botones abajo
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        z-index: 1; // Asegura que estén por encima de las imágenes

        .indicator {
            width: 15px;
            height: 15px;
            background: rgba(255, 255, 255, 0.8);
            border: none;
            border-radius: 50%;
            cursor: pointer;
            transition: background 0.3s;

            &.active {
                background: #FCE500;
            }
        }
    }

    // Media queries for specific resolutions
    @media (min-width: 2560px) {
        .carousel-indicators .indicator {
            width: 20px;
            height: 20px;
        }
    }

    @media (min-width: 1920px) {
        .carousel-indicators .indicator {
            width: 18px;
            height: 18px;
        }
    }

    @media (max-width: 1536px) {
        .carousel-indicators .indicator {
            width: 16px;
            height: 16px;
        }
    }

    @media (max-width: 1280px) {
        .carousel-indicators .indicator {
            width: 14px;
            height: 14px;
        }
    }

    @media (max-width: 1024px) {
        .carousel-indicators .indicator {
            width: 12px;
            height: 12px;
        }
    }

    @media (max-width: 768px) {
        .carousel-indicators .indicator {
            width: 10px;
            height: 10px;
        }
    }

    @media (max-width: 480px) {
        .carousel-indicators .indicator {
            width: 8px;
            height: 8px;
        }
    }

    @media (max-width: 414px) {
        .carousel-indicators .indicator {
            width: 8px;
            height: 8px;
        }
    }

    @media (max-width: 360px) {
        .carousel-indicators .indicator {
            width: 6px;
            height: 6px;
        }
    }
}