@use './estiloscarousel.scss';
@use './footer.scss';
@use './header.scss';
@use './BotonDimVehiculo';
@use './redesSociale.scss';

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto-Sans', sans-serif;
}

