@use 'componentes/estiloscarousel.scss';
@use 'layout/footer.scss';
@use 'layout/header.scss';
@use 'layout/BotonDimVehiculo.scss';
@use 'layout/redesSociale.scss';
@use 'layout/neumaticosDestacados.scss';
@use 'layout/cesta.scss';

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto-Sans', sans-serif;
}

